In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# 10 stocks

### Technology
- Spotify Technology S.A. (SPOT)
- Advanced Micro Devices, Inc. (AMD)

### Financial Services
- The Hartford Financial Services Group, Inc. (HIG)
- The Allstate Corporation (ALL)

### Energy
- Shell plc (SHEL)
- Exxon Mobil Corporation (XOM)

### Industry
- United Parcel Service, Inc. (UPS)
- Honeywell International Inc. (HON)

### Healthcare
- Pfizer Inc. (PFE)
- UnitedHealth Group Incorporated (UNH)

https://www.youtube.com/watch?v=nyFEnRpvZqo

# Fetch daily transaction data by stock name

In [2]:
stocks = ['SPOT', 'AMD', 'HIG', 'ALL', 'SHEL', 'XOM', 'UPS', 'HON', 'PFE', 'UNH']

In [3]:
stock_industry_map = {'SPOT':'Technology', 'AMD':'Technology', 
                      'HIG':'Financial Services', 'ALL':'Financial Services', 
                      'SHEL':'Energy', 'XOM':'Energy', 
                      'UPS':'Industry', 'HON':'Industry', 
                      'PFE':'Healthcare', 'UNH':'Healthcare'}

In [4]:
list_tickers = yf.Tickers(stocks)

In [5]:
daily_3y_df = list_tickers.download(period='3y', group_by='ticker')

[*********************100%***********************]  10 of 10 completed

In [6]:
def convertToVertical():
    ticket_arr = []
    for name in stocks:
        temp_df = daily_3y_df[name].copy()
        temp_df['ticket'] = name
        temp_df['sector'] = stock_industry_map[name]
        ticket_arr.append(temp_df)
    vertical_df = pd.concat(ticket_arr)
    return vertical_df

vertical_df = convertToVertical()

In [7]:
vertical_df.reset_index(inplace = True)
vertical_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits', 'ticket', 'sector'],
      dtype='object')

In [8]:
vertical_df.rename(columns={'Date':'trade_date', 'Open':'open', 'High':'high', 'Low':'low', 'Close':'close', 'Volume':'volume', 
                            'Dividends':'dividends', 'Stock Splits':'stock_splits', 'ticket':'ticket'}, inplace = True)
vertical_df

,trade_date,open,high,low,close,volume,dividends,stock_splits,ticket,sector
0,2019-04-05,141.440002,144.250000,140.910004,141.130005,2196600.0,0.0,0.0,SPOT,Technology
1,2019-04-08,140.850006,144.360001,139.779999,142.279999,753700.0,0.0,0.0,SPOT,Technology
2,2019-04-09,141.710007,143.369995,140.630005,141.339996,907100.0,0.0,0.0,SPOT,Technology
3,2019-04-10,141.350006,145.440002,140.470001,143.570007,1056700.0,0.0,0.0,SPOT,Technology
4,2019-04-11,143.710007,144.356003,140.500000,141.800003,913400.0,0.0,0.0,SPOT,Technology
...,...,...,...,...,...,...,...,...,...,...
7555,2022-03-29,517.099976,519.590027,507.299988,510.730011,3478400.0,0.0,0.0,UNH,Healthcare
7556,2022-03-30,515.109985,521.200012,512.479980,520.820007,3041200.0,0.0,0.0,UNH,Healthcare
7557,2022-03-31,517.099976,521.890015,509.670013,509.970001,3979700.0,0.0,0.0,UNH,Healthcare
7558,2022-04-01,510.679993,514.780029,506.600006,512.590027,2344100.0,0.0,0.0,UNH,Healthcare
7559,2022-04-04,512.210022,512.479980,504.529999,510.019989,2657500.0,0.0,0.0,UNH,Healthcare

# Save into AWS RDS

In [9]:
def save_into_rds_by_name(sub_df, table_name, if_exists='replace'):
    
    print(sub_df.shape)
    
    # create engine by sqlalchemy + pymysql
    # input your local mysql
    # root is your local root username
    # 12345678 is your local mysql's password
    # localhost is your local host
    # m4 is your schema
    engine = create_engine('mysql+pymysql://admin:abcd1234@capstonedb.c2exfkakcxag.us-east-1.rds.amazonaws.com/stock')
    #engine = create_engine('mysql+pymysql://root:12345678@localhost/m4')
    
    # to transfer csv to mysql by pandas.to_sql
    sub_df.to_sql(con=engine, name=table_name, if_exists=if_exists, index=False, chunksize=100000)
    
    print(table_name + " save into rds successfully")
    
    
def save_stock_daily(data_sample):
    sub_df = data_sample.copy()
    
    #sub_df['created_date'] = pd.to_datetime(sub_df['created_date'])
    #sub_df['closed_date'] = pd.to_datetime(sub_df['closed_date'])
    #sub_df['resolution_action_updated_date'] = pd.to_datetime(sub_df['resolution_action_updated_date'])
    
    #sub_df = sub_df.convert_dtypes()
    #wildfire_df.dtypes
    
    print("load stock daily successfully")
    print(sub_df.head(2))
    
    #save_into_rds_by_name(sub_df, 't_311_items' , if_exists='append')
    sub_df['trade_date'] = sub_df['trade_date'].apply(lambda x: x.strftime('%Y-%m-%d')).astype(str)
    save_into_rds_by_name(sub_df, 't_stock_daily')
    

def save_stock_name(data_sample):
    sub_df = data_sample.loc[:, ['ticket']]
    
    print("load 311 ticket data successfully")
    print(sub_df.head(2))
    
    sub_df = sub_df.groupby(['ticket']).size().reset_index(name='freq')
    
    save_into_rds_by_name(sub_df, 't_stock_name')
    
    
def save_stock_sector(data_sample):
    sub_df = data_sample.loc[:, ['sector']]
    
    print("load 311 sector data successfully")
    print(sub_df.head(2))
    
    sub_df = sub_df.groupby(['sector']).size().reset_index(name='freq')
    
    save_into_rds_by_name(sub_df, 't_stock_sector')

In [10]:
save_stock_daily(vertical_df)

load stock daily successfully
  trade_date        open        high         low       close     volume  \
0 2019-04-05  141.440002  144.250000  140.910004  141.130005  2196600.0
1 2019-04-08  140.850006  144.360001  139.779999  142.279999   753700.0

   dividends  stock_splits ticket      sector
0        0.0           0.0   SPOT  Technology
1        0.0           0.0   SPOT  Technology
(7560, 10)
t_stock_daily save into rds successfully

In [11]:
save_stock_name(vertical_df)

load 311 ticket data successfully
  ticket
0   SPOT
1   SPOT
(10, 2)
t_stock_name save into rds successfully

In [12]:
save_stock_sector(vertical_df)

load 311 sector data successfully
       sector
0  Technology
1  Technology
(5, 2)
t_stock_sector save into rds successfully